manifest {
   name = 'vib-singlecell-nf/vsn-pipelines'
   description = 'A repository of pipelines for single-cell data in Nextflow DSL2'
   homePage = 'https://github.com/vib-singlecell-nf/vsn-pipelines'
   version = '0.27.0'
   mainScript = 'main.nf'
   defaultBranch = 'master'
   nextflowVersion = '!>=21.04.3'
}

params {
   global {
      project_name = 'Brunet_Avalos_et_al_2019_Larvae_Brain'
      outdir = 'out'
      qsubaccount = '' // TO EDIT
      qsubemail = '' // TO EDIT
      species = 'fly'
      genome {
         assembly = 'dm6'
      }
      seed = 42
   }
   data {
      sra = [[id:'SRP216038', samples: ["First instar larval brain cells*"]]]
   }
   tools {
      cellranger {
         container = 'vibsinglecellnf/cellranger:4.0.0'
         count {
            chemistry = 'SC3Pv2'
            transcriptome = 'flybase/r6.31_premrna_v3/cellranger/3.1.0/flybase_r6.31_premrna_v3.1'
         }
      }
      sratoolkit {
         container = 'vibsinglecellnf/sratoolkit:2.9.4-1.1.0'
         includeTechnicalReads = false
         maxSize = 20000000
      }
      scanpy {
         container = 'vibsinglecellnf/scanpy:1.8.1'
         report {
            annotations_to_plot = []
         }
         feature_selection {
            report_ipynb = '/src/scanpy/bin/reports/sc_select_variable_genes_report.ipynb'
            flavor = 'seurat'
            minMean = 0.0125
            maxMean = 3
            minDisp = 0.5
            off = 'h5ad'
         }
         feature_scaling {
            method = 'zscore_scale'
            maxSD = 10
            off = 'h5ad'
         }
         neighborhood_graph {
            off = 'h5ad'
         }
         dim_reduction {
            report_ipynb = '/src/scanpy/bin/reports/sc_dim_reduction_report.ipynb'
            pca {
               method = 'pca'
               off = 'h5ad'
            }
            umap {
               method = 'umap'
               off = 'h5ad'
            }
            tsne {
               method = 'tsne'
               nJobs = 10
               off = 'h5ad'
            }
         }
         clustering {
            report_ipynb = '/src/scanpy/bin/reports/sc_clustering_report.ipynb'
            methods = ['leiden','louvain']
            resolutions = [0.4,0.8,1.0,1.2,1.6,2.0,4.0,8.0]
            off = 'h5ad'
         }
         marker_genes {
            method = 'wilcoxon'
            ngenes = 0
            off = 'h5ad'
         }
         filter {
            report_ipynb = '/src/scanpy/bin/reports/sc_filter_qc_report.ipynb'
            cellFilterMinNGenes = 200
            cellFilterMaxPercentMito = 0.15
            geneFilterMinNCells = 3
            off = 'h5ad'
            outdir = 'out'
         }
         data_transformation {
            method = 'log1p'
            off = 'h5ad'
         }
         normalization {
            method = 'cpx'
            targetSum = 10000
            off = 'h5ad'
         }
         batch_effect_correct {
            method = 'bbknn'
            report_ipynb = '/src/scanpy/bin/reports/sc_bbknn_report.ipynb'
            neighborsWithinBatch = 5
            trim = 0
            off = 'h5ad'
         }
      }
      pcacv {
         container = 'vibsinglecellnf/pcacv:0.3.0'
         find_optimal_npcs {
            accessor = '@assays$RNA@scale.data'
         }
      }
      scenic {
         container = 'aertslab/pyscenic:0.11.2'
         scenicoutdir = 'out/scenic/'
         report_ipynb = '/src/scenic/bin/reports/scenic_report.ipynb'
         filteredLoom = ''
         scenicOutputLoom = 'SCENIC_output.loom'
         scenicScopeOutputLoom = 'SCENIC_SCope_output.loom'
         mode = 'dask_multiprocessing'
         client_or_address = ''
         cell_id_attribute = 'CellID'
         gene_attribute = 'Gene'
         grn {
            algorithm = 'grnboost2'
            tfs = 'allTFs_dmel.txt' // TO EDIT
         }
         cistarget {
            adj = 'adj.tsv'
            type = ''
            output = 'reg.csv'
            rank_threshold = 5000
            auc_threshold = 0.05
            nes_threshold = 3.0
            min_orthologous_identity = 0.0
            max_similarity_fdr = 0.001
            annotations_fname = ''
            thresholds = '0.75,0.90'
            top_n_targets = 50
            top_n_regulators = '5,10,50'
            min_genes = 20
            motifsDb = 'cistarget/databases/drosophila_melanogaster/dm6/flybase_r6.02/mc8nr/gene_based/dm6-5kb-upstream-full-tx-11species.mc8nr.feather' // TO EDIT
            motifsAnnotation = 'cistarget/motif2tf/motifs-v8-nr.flybase-m0.001-o0.0.tbl' // TO EDIT
            tracksDb = 'encode_modERN_20190621__ChIP_seq.max_GENEBASED.feather' // TO EDIT
            tracksAnnotation = 'encode_modERN_20190621_dm6_annotation.track_to_tf_in_motif_to_tf_format.tsv' // TO EDIT
         }
         aucell {
            output = 'aucell_output.loom'
            rank_threshold = 5000
            auc_threshold = 0.05
            nes_threshold = 3.0
         }
      }
   }
   utils {
      container = 'vibsinglecellnf/utils:0.4.0'
      workflow_configuration {
         report_ipynb = '/src/utils/bin/reports/workflow_configuration_template.ipynb'
      }
      sra_metadata {
         mode = 'web'
      }
      file_converter {
         tagCellWithSampleId = true
         useFilteredMatrix = true
      }
      file_concatenator {
         join = 'outer'
         off = 'h5ad'
      }
      scope {
         genome = 'Flybase r6.31 pre-mRNA v3.1 (https://github.com/FlyCellAtlas/genome_references/blob/master/flybase/r6.31/dmel-all-r6.31-premrna.gtf.gz)'
         tree {
            level_1 = 'Public'
            level_2 = 'Brain'
            level_3 = 'Larvae'
         }
      }
   }
}

process {
   executor = 'local'
   withLabel: 'compute_resources__cellranger_count' {
        executor = 'pbs' // or 'local'
        cpus = 20
        memory = '120 GB'
        time = '48h'
        maxForks = 5
   }
   withLabel:'compute_resources__.*|compute_resources__default' {
      cpus = 2
      clusterOptions = '-A lp_symbiosys'
   }
   withLabel:compute_resources__minimal {
      cpus = 1
   }
   withLabel:compute_resources__mem {
      cpus = 1
   }
   withLabel:compute_resources__cpu {
      cpus = 16
      memory = '60 GB'
   }
   withLabel:compute_resources__report {
      maxForks = 2
      cpus = 1
   }
   withLabel:compute_resources__24hqueue {
      time = '24h'
   }
   withLabel: 'compute_resources__sratoolkit' {
      executor = 'local'
      cpus = 4
      memory = '40 GB'
      time = '24h'
      maxForks = 1
      maxRetries = 5
      errorStrategy = 'retry'
   }
   withLabel:'compute_resources__scenic.*' {
      cpus = 4
      memory = '60 GB'
      time = '24h'
      maxForks = 1
   }
   withLabel:compute_resources__scenic_grn {
      cpus = 19
      memory = '120 GB'
      time = '24h'
      executor = 'pbs'
   }
   withLabel:compute_resources__scenic_cistarget {
      cpus = 16
      memory = '250 GB'
   }
   withLabel:compute_resources__scenic_aucell {
      cpus = 16
      memory = '250 GB'
   }
   withLabel:compute_resources__pcacv {
      cpus = 16
   }
}

timeline {
   enabled = true
   file = 'out/nextflow_reports/execution_timeline.html'
}

report {
   enabled = true
   file = 'out/nextflow_reports/execution_report.html'
}

trace {
   enabled = true
   file = 'out/nextflow_reports/execution_trace.txt'
}

dag {
   enabled = true
   file = 'out/nextflow_reports/pipeline_dag.svg'
}

min {
   enabled = false
}

singularity {
   enabled = true
   autoMounts = true
   runOptions = '-B ' // TO EDIT
}
