manifest {
   name = 'vib-singlecell-nf/vsn-pipelines'
   description = 'A repository of pipelines for single-cell data in Nextflow DSL2'
   homePage = 'https://github.com/vib-singlecell-nf/vsn-pipelines'
   version = '0.27.0'
   mainScript = 'main.nf'
   defaultBranch = 'master'
   nextflowVersion = '!>=21.04.3'
}

params {
   global {
      project_name = 'Hung_et_al_2020_Adult_Gut'
      outdir = 'out'
      seed = 42
      qsubaccount = '' // TO EDIT
      qsubemail = '' // TO EDIT
   }
   data {
      tenx {
         cellranger_mex = '/a/folder/*/outs/' // TO EDIT
      }
   }
   tools {
      file_converter {
         tagCellWithSampleId = true
         useFilteredMatrix = true
      }
      file_concatenator {
         join = 'outer'
         off = 'h5ad'
      }
      scanpy {
         container = 'vibsinglecellnf/scanpy:1.8.1'
         report {
            annotations_to_plot = []
         }
         feature_selection {
            report_ipynb = '/src/scanpy/bin/reports/sc_select_variable_genes_report.ipynb'
            method = 'mean_disp_plot'
            minMean = 0.0125
            maxMean = 3
            minDisp = 0.5
            off = 'h5ad'
         }
         feature_scaling {
            method = 'zscore_scale'
            maxSD = 10
            off = 'h5ad'
         }
         neighborhood_graph {
            off = 'h5ad'
         }
         dim_reduction {
            report_ipynb = '/src/scanpy/bin/reports/sc_dim_reduction_report.ipynb'
            pca {
               method = 'pca'
               off = 'h5ad'
            }
            umap {
               method = 'umap'
               off = 'h5ad'
            }
            tsne {
               method = 'tsne'
               nJobs = 10
               off = 'h5ad'
            }
         }
         clustering {
            report_ipynb = '/src/scanpy/bin/reports/sc_clustering_report.ipynb'
            methods = ['leiden','louvain']
            resolutions = [0.4,0.8,1.0,1.2,1.6,2.0,4.0,8.0]
            off = 'h5ad'
         }
         marker_genes {
            method = 'wilcoxon'
            ngenes = 0
            off = 'h5ad'
         }
         filter {
            report_ipynb = '/src/scanpy/bin/reports/sc_filter_qc_report.ipynb'
            cellFilterMinNGenes = 200
            cellFilterMaxPercentMito = 0.15
            geneFilterMinNCells = 3
            off = 'h5ad'
            outdir = 'out'
         }
         data_transformation {
            method = 'log1p'
            off = 'h5ad'
         }
         normalization {
            method = 'cpx'
            targetSum = 10000
            off = 'h5ad'
         }
      }
      harmony {
         container = 'vibsinglecellnf/harmony:1.0-3'
         report_ipynb = '/src/harmony/bin/reports/sc_harmony_report.ipynb'
         varsUse = ['batch']
      }
      scenic {
         container = 'vibsinglecellnf/utils:0.11.2'
         report_ipynb = '/src/scenic/bin/reports/scenic_report.ipynb'
         existingScenicLoom = '580f1168__Hung_et_al_2020_Adult_Gut.BBKNN.SCENIC_SCope_output.loom' // TO EDIT
         sampleSuffixWithExtension = '.BBKNN.SCENIC_SCope_output.loom'
         scenicoutdir = 'out/scenic/'
         scenicScopeOutputLoom = 'SCENIC_SCope_output.loom'
      }
      scope {
         genome = 'Flybase r6.31 pre-mRNA v3.1 (https://github.com/FlyCellAtlas/genome_references/blob/master/flybase/r6.31/dmel-all-r6.31-premrna.gtf.gz)'
         tree {
            level_1 = 'Public'
            level_2 = 'Gut'
            level_3 = 'Adult'
         }
      }
   }
   utils {
      container = 'vibsinglecellnf/utils:0.4.0'
      workflow_configuration {
         report_ipynb = '/src/utils/bin/reports/workflow_configuration_template.ipynb'
      }
   }
   pcacv {
      container = 'vibsinglecellnf/pcacv:0.3.0'
      find_optimal_npcs {
         accessor = '@assays$RNA@scale.data'
      }
   }
}

process {
   executor = 'local'
   withLabel:'compute_resources__.*|compute_resources__default' {
      cpus = 2
      clusterOptions = '-A <group-name>' // TO EDIT
   }
   withLabel:compute_resources__minimal {
      cpus = 1
   }
   withLabel:compute_resources__mem {
      cpus = 1
   }
   withLabel:compute_resources__cpu {
      cpus = 16
      memory = '60 GB'
   }
   withLabel:compute_resources__report {
      maxForks = 2
      cpus = 1
   }
   withLabel:compute_resources__24hqueue {
      time = '24h'
   }
   withLabel:compute_resources__pcacv {
      cpus = 16
   }
}

timeline {
   enabled = true
   file = 'out/nextflow_reports/execution_timeline.html'
}

report {
   enabled = true
   file = 'out/nextflow_reports/execution_report.html'
}

trace {
   enabled = true
   file = 'out/nextflow_reports/execution_trace.txt'
}

dag {
   enabled = true
   file = 'out/nextflow_reports/pipeline_dag.svg'
}

min {
   enabled = false
}

singularity {
   enabled = true
   autoMounts = true
   runOptions = '-B ' // TO EDIT
}
