manifest {
   name = 'vib-singlecell-nf/vsn-pipelines'
   description = 'A repository of pipelines for single-cell data in Nextflow DSL2'
   homePage = 'https://github.com/vib-singlecell-nf/vsn-pipelines'
   version = '0.15.0'
   mainScript = 'main.nf'
   defaultBranch = 'master'
   nextflowVersion = '!19.12.0-edge'
}

params {
   global {
      project_name = '63d972e0__Ji_et_al_2019_Larvae_Wing_Disc'
      outdir = 'out'
      seed = 142
      qsubaccount = ''
      qsubemail = ''
   }
   sc {
      scope {
         genome = 'Flybase r6.31 pre-mRNA v3.1 (https://github.com/FlyCellAtlas/genome_references/blob/master/flybase/r6.31/dmel-all-r6.31-premrna.gtf.gz)'
         tree {
            level_1 = 'Public'
            level_2 = 'Wingdisc'
            level_3 = 'Larvae'
         }
      }
      file_converter {
         tagCellWithSampleId = true
         useFilteredMatrix = true
      }
      file_concatenator {
         join = 'outer'
         off = 'h5ad'
      }
      scanpy {
         container = 'vibsinglecellnf/scanpy:0.5.0'
         report {
            annotations_to_plot = []
         }
         feature_selection {
            report_ipynb = '/src/scanpy/bin/reports/sc_select_variable_genes_report.ipynb'
            method = 'mean_disp_plot'
            minMean = 0.0125
            maxMean = 3
            minDisp = 0.5
            off = 'h5ad'
         }
         feature_scaling {
            method = 'zscore_scale'
            maxSD = 10
            off = 'h5ad'
         }
         neighborhood_graph {
            off = 'h5ad'
         }
         dim_reduction {
            report_ipynb = '/src/scanpy/bin/reports/sc_dim_reduction_report.ipynb'
            pca {
               method = 'pca'
               off = 'h5ad'
            }
            umap {
               method = 'umap'
               off = 'h5ad'
            }
            tsne {
               method = 'tsne'
               nJobs = 10
               off = 'h5ad'
            }
         }
         clustering {
            report_ipynb = '/src/scanpy/bin/reports/sc_clustering_report.ipynb'
            methods = ['leiden','louvain']
            resolutions = [0.4,0.8,1.0,1.2,1.6,2.0,4.0,8.0]
            off = 'h5ad'
         }
         marker_genes {
            method = 'wilcoxon'
            ngenes = 0
            off = 'h5ad'
         }
         filter {
            report_ipynb = '/src/scanpy/bin/reports/sc_filter_qc_report.ipynb'
            cellFilterMinNGenes = 200
            cellFilterMaxPercentMito = 0.15
            geneFilterMinNCells = 3
            off = 'h5ad'
            outdir = 'out'
      seed = 142
         }
         data_transformation {
            method = 'log1p'
            off = 'h5ad'
         }
         normalization {
            method = 'cpx'
            countsPerCellAfter = 10000
            off = 'h5ad'
         }
      }
      harmony {
         container = 'vibsinglecellnf/harmony:1.0'
         report_ipynb = '/src/harmony/bin/reports/sc_harmony_report.ipynb'
         varsUse = ['batch']
      }
      scenic {
         container = 'aertslab/pyscenic:0.10.0'
         report_ipynb = '/src/scenic/bin/reports/scenic_report.ipynb'
         existingScenicLoom = '63d972e0__Ji_et_al_2019_Larvae_Wing_Disc.BBKNN.SCENIC_SCope_output.loom' // TO EDIT
         sampleSuffixWithExtension = '.BBKNN.SCENIC_SCope_output.loom'
         scenicoutdir = 'out/scenic/'
         scenicScopeOutputLoom = 'SCENIC_SCope_output.loom'
      }
   }
   utils {
      container = 'vibsinglecellnf/utils:0.2.2'
      workflow_configuration {
         report_ipynb = '/src/utils/bin/reports/workflow_configuration_template.ipynb'
      }
   }
   parseConfig = { sample, paramsGlobal, paramsLocal ->
         def lv = { a,b -> return org.codehaus.groovy.runtime.MethodRankHelper.delDistance(a, b) }
         def pL = paramsLocal.collectEntries { k,v ->
            if (v instanceof Map) {
               if (v.containsKey(sample))
                  return [k, v[sample]]
               if (v.containsKey('default'))
                  return [k, v['default']]
               def closeMatches = v.collectEntries { vk, vv -> [lv(vk, sample), vk] }.keySet().findAll { it < 30}
               if(closeMatches.size() > 0)
                  throw new Exception("The sample " + sample + " is not found in " + v +" ; Make sure your samples are correctly specified when using the multi-sample feature.")
               else
                  return [k,v]
            } else {
               return [k,v]
         }
      }
      return [global: paramsGlobal, local: pL]
   }
   data {
      tenx {
         cellranger_mex = '20200313_007__wingdisc_larvae__63d972e0-6514-11ea-8819-a0000220fe80/out/counts/*/outs/' // TO EDIT
      }
   }
   pcacv {
      container = 'vibsinglecellnf/pcacv:0.1.0'
      find_optimal_npcs {
         accessor = '@assays$RNA@scale.data'
         nCores = 12
      }
   }
}

process {
   executor = 'local'
   withLabel:qsub {
      executor = 'pbs'
   }
   withLabel:local {
      executor = 'local'
   }
}

timeline {
   enabled = true
   file = 'out/nextflow_reports/execution_timeline.html'
}

report {
   enabled = true
   file = 'out/nextflow_reports/execution_report.html'
}

trace {
   enabled = true
   file = 'out/nextflow_reports/execution_trace.txt'
}

dag {
   enabled = true
   file = 'out/nextflow_reports/pipeline_dag.svg'
}

min {
   enabled = false
}

singularity {
   enabled = true
   autoMounts = true
   runOptions = '-B ' // TO EDIT
}
