manifest {
   name = 'vib-singlecell-nf/vsn-pipelines'
   description = 'A repository of pipelines for single-cell data in Nextflow DSL2'
   homePage = 'https://github.com/vib-singlecell-nf/vsn-pipelines'
   version = '0.27.0'
   mainScript = 'main.nf'
   defaultBranch = 'master'
   nextflowVersion = '!>=21.04.3'
}

params {
   global {
      project_name = '10x_PBMC_DSL2'
      seed = 777
      outdir = 'out'
      species = 'human'
      genome {
         assembly = 'hg38'
      }
   }
   misc {
      test {
         enabled = false
      }
   }
   tools {
      scanpy {
         container = 'vibsinglecellnf/scanpy:1.8.1'
         report {
            annotations_to_plot = []
         }
         feature_selection {
            report_ipynb = '/src/scanpy/bin/reports/sc_select_variable_genes_report.ipynb'
            flavor = 'seurat'
            minMean = 0.0125
            maxMean = 3
            minDisp = 0.5
            off = 'h5ad'
         }
         feature_scaling {
            method = 'zscore_scale'
            maxSD = 10
            off = 'h5ad'
         }
         neighborhood_graph {
            off = 'h5ad'
         }
         dim_reduction {
            report_ipynb = '/src/scanpy/bin/reports/sc_dim_reduction_report.ipynb'
            pca {
               method = 'pca'
               off = 'h5ad'
            }
            umap {
               method = 'umap'
               off = 'h5ad'
            }
            tsne {
               method = 'tsne'
               off = 'h5ad'
            }
         }
         clustering {
            preflight_checks = true
            report_ipynb = '/src/scanpy/bin/reports/sc_clustering_report.ipynb'
            methods = ['louvain']
            resolutions = [0.4,0.8]
            off = 'h5ad'
         }
         marker_genes {
            method = 'wilcoxon'
            ngenes = 0
            off = 'h5ad'
         }
         filter {
            report_ipynb = '/src/scanpy/bin/reports/sc_filter_qc_report.ipynb'
            cellFilterStrategy = 'fixedthresholds'
            cellFilterMinNGenes = 200
            cellFilterMaxNGenes = 4000
            cellFilterMaxPercentMito = 0.15
            geneFilterMinNCells = 3
            off = 'h5ad'
            outdir = 'out'
         }
         data_transformation {
            method = 'log1p'
            off = 'h5ad'
         }
         normalization {
            method = 'cpx'
            targetSum = 10000
            off = 'h5ad'
         }
      }
      scenic {
         container = 'aertslab/pyscenic:0.11.2'
         scenicoutdir = 'out/scenic/'
         filteredLoom = ''
         scenicOutputLoom = 'SCENIC_output.loom'
         scenicScopeOutputLoom = 'SCENIC_SCope_output.loom'
         mode = 'dask_multiprocessing'
         client_or_address = ''
         cell_id_attribute = 'CellID'
         gene_attribute = 'Gene'
         report_ipynb = '/src/scenic/bin/reports/scenic_report.ipynb'
         skipReports = false
         grn {
            algorithm = 'grnboost2'
            tfs = '/staging/leuven/stg_00002/lcb/cflerin/resources/allTFs_hg38.txt'
         }
         cistarget {
            adj = 'adj.tsv'
            type = ''
            rank_threshold = 5000
            auc_threshold = 0.05
            nes_threshold = 3.0
            min_orthologous_identity = 0.0
            max_similarity_fdr = 0.001
            annotations_fname = ''
            thresholds = '0.75,0.90'
            top_n_targets = 50
            top_n_regulators = '5,10,50'
            min_genes = 20
            all_modules = false
            motifsDb = '/staging/leuven/res_00001/databases/cistarget/databases/homo_sapiens/hg38/refseq_r80/mc9nr/gene_based/hg38__refseq-r80__*feather'
            motifsAnnotation = '/staging/leuven/res_00001/databases/cistarget/motif2tf/motifs-v9-nr.hgnc-m0.001-o0.0.tbl'
            tracksDb = '/staging/leuven/res_00001/databases/cistarget/databases/homo_sapiens/hg38/refseq_r80/tc_v1/gene_based/encode_20190621__ChIP_seq_transcription_factor.hg38__refseq-r80__*feather'
            tracksAnnotation = '/staging/leuven/stg_00002/lcb/icistarget/data/annotations/homo_sapiens/hg38/track_annotations/encode_project_20190621__ChIP-seq_transcription_factor.homo_sapiens.hg38.bigwig_signal_pvalue.track_to_tf_in_motif_to_tf_format.tsv'
         }
         aucell {
            output = 'aucell_output.loom'
            rank_threshold = 5000
            auc_threshold = 0.05
            nes_threshold = 3.0
         }
      }
   }
   utils {
      container = 'vibsinglecellnf/utils:0.4.0'
      publish {
         compressionLevel = 6
         annotateWithBatchVariableName = false
         mode = 'link'
      }
      workflow_configuration {
         report_ipynb = '/src/utils/bin/reports/workflow_configuration_template.ipynb'
      }
      sra_metadata {
         mode = 'web'
      }
      file_converter {
         tagCellWithSampleId = true
         useFilteredMatrix = true
      }
      scope {
         genome = 'hg38'
         tree {
            level_1 = 'SCENICprotocol'
            level_2 = 'DSL2'
            level_3 = ''
         }
      }
   }
   data {
      tenx {
         cellranger_mex = 'pbmc10k/dsl2_0.25.0/pbmc10k/outs'
      }
   }
}

process {
   executor = 'local'
   withLabel: 'compute_resources__cellranger_count' {
        executor = 'pbs' // or 'local'
        cpus = 20
        memory = '120 GB'
        time = '48h'
        maxForks = 5
   }
   withLabel:'compute_resources__.*|compute_resources__default' {
      cpus = 2
      clusterOptions = '-A lp_symbiosys'
   }
   withLabel:compute_resources__minimal {
      cpus = 1
   }
   withLabel:compute_resources__mem {
      cpus = 1
   }
   withLabel:compute_resources__cpu {
      cpus = 16
      memory = '60 GB'
   }
   withLabel:compute_resources__report {
      maxForks = 2
      cpus = 1
   }
   withLabel:compute_resources__24hqueue {
      time = '24h'
   }
   withLabel: 'compute_resources__sratoolkit' {
      executor = 'local'
      cpus = 4
      memory = '40 GB'
      time = '24h'
      maxForks = 1
      maxRetries = 5
      errorStrategy = 'retry'
   }
   withLabel:'compute_resources__scenic.*' {
      cpus = 4
      memory = '60 GB'
      time = '24h'
      maxForks = 1
   }
   withLabel:compute_resources__scenic_grn {
      cpus = 19
      memory = '120 GB'
      time = '24h'
      executor = 'pbs'
   }
   withLabel:compute_resources__scenic_cistarget {
      cpus = 16
      memory = '250 GB'
   }
   withLabel:compute_resources__scenic_aucell {
      cpus = 16
      memory = '250 GB'
   }
   withLabel:compute_resources__pcacv {
      cpus = 16
   }
}

timeline {
   enabled = true
   file = 'out/nextflow_reports/execution_timeline.html'
}

report {
   enabled = true
   file = 'out/nextflow_reports/execution_report.html'
}

trace {
   enabled = true
   file = 'out/nextflow_reports/execution_trace.txt'
}

dag {
   enabled = true
   file = 'out/nextflow_reports/pipeline_dag.svg'
}

min {
   enabled = false
}

singularity {
   cacheDir = '/staging/leuven/stg_00002/lcb/lcb_projects/Pipeline_Dev/containers/'
   enabled = true
   autoMounts = true
   runOptions = '-B /staging/leuven/stg_00002/,/staging/leuven/stg_00002/'
}
